.btn-custom {
    background-color: rgb(23, 23, 125) !important; /* Custom blue background */
    color: #fff; /* White text */
    /* border: 2px solid #1e90ff; */
}

.btn-custom:hover {
    color: #fff; /* White text */
    /* border: 2px solid #1e90ff; */
}